<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="MachineParkManagement.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/input.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/TestingTailwind.styles.css" asp-append-version="true" /> *@
    <HeadOutlet />
</head>

<body class="bg-indigo-200">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>
